/backend/.env
/backend/KMS/
/backend/reports/
/backend/__pycache__/
/backend/tests/__pycache__/
/backend/tests/test_agent.py
/backend/tests/test_agent.pyc
/backend/tests/test_agent.pyo
/backend/tests/test_agent.pyd
/backend/tests/test_agent.pyw
/backend/tests/test_agent.pyz


/frontend/.env
/frontend/node_modules/
/frontend/.next/
/frontend/out/
/frontend/build/
/frontend/dist/
